@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
    scroll-behavior: smooth;
}

:root {
    /* family */
    --family-Gloria: "Gloria Hallelujah", serif;
    --family-Noto: : "Noto Sans", serif;

    /* color */
    --color-black: #000;
    --color-red: #cc3900;
    --color-rose: #fbbbcd;
    --color-blanc:  #fff;
    --color-grey: #7A7A7A;

    /* size */
    --size-a: 16px;
    --size-h1: 45px;
    --size-h2: 28px;
    --size-p: 16px;
    /* weight */
    --weight-a: 600;
    --weight-h1: 400;
    --weight-h2: 400;
    --weight-p: 500;
}

h1 {
    font-family: var(--family-Gloria);
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
}

h2 {
    font-family: var(--family-Gloria);
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
}

h3 {
    font-family: var(--family-Gloria);
}

p {
    font-size: var(--size-p);
    font-weight: var(--weight-p);
    line-height: 24px;
}

/* PAGE */
/* Header */
header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.burger-menu {
    display: none !important;
}

header img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-a);
    font-weight: var(--weight-a);
}


.active {
    color: var(--color-red);
}

.logo {
    display: flex;
    gap: 25px;
}

.logo a {
    color: var(--color-red);
}

/* footer */
footer {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

footer img {
    width: 180px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

footer nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-a);
    font-weight: var(--weight-a);
}

footer nav p {
    text-align: center;
    padding-top: 15px;
}

.active {
    color: var(--color-red);
}

.logo {
    display: flex;
    gap: 25px;
}

.logo a {
    color: var(--color-red);
}

/* Main */
#section1 {
    background-color: var(--color-rose);
    padding: 100px 0;
    text-align: center;
}

.container-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 21px;
}

#section2 {
    max-width: 1440px;
    margin: auto;
}

#section2 > p {
    text-align: center;
    color: var(--color-grey);
    padding: 15px 0 20px;
}

.sous-container-img img {
    width: 100%;
    object-fit: cover;
}

.sous-container-img p {
    padding: 7px 0;
}

.sous-container-img p:nth-child(3) {
    color: #9C9C9C;
}

#btn-affichezPlus {
    text-align: center;
    padding: 20px 0;
}

#btn-affichezPlus a {
    text-decoration: none;
    background-color: #605BE5;
    color: var(--color-blanc);
    border: 1px solid #605BE5;
    border-radius: 3px;
    padding: 8px 22px;
}

#btn-affichezPlus a:hover {
    background-color: white;
    color: #605BE5;
    border: 1px solid #605BE5;
    border-radius: 3px;
    padding: 8px 22px;
}

/* Responsive */
@media screen and (max-width:1024px){
    header nav a {
        display: none;
    }
    
    .burger-menu {
        display: block !important;
    }
    
    footer {
        padding-top: 25px;
        gap: 0;
        justify-content: space-between;
    }

    footer nav a {
        display: none;
    }

    .sous-container-img img {
        width: 100%;
    }
}

@media screen and (max-width:767px){
    header {
        gap: 5px;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .container-img {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
    }
}