@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
    scroll-behavior: smooth;
}

:root {
    /* family */
    --family-Gloria: "Gloria Hallelujah", serif;
    --family-Noto: : "Noto Sans", serif;

    /* color */
    --color-black: #000;
    --color-red: #cc3900;
    --color-rose: #fbbbcd;
    --color-blanc:  #fff;
    --color-grey: #7A7A7A;

    /* size */
    --size-a: 16px;
    --size-h1: 45px;
    --size-h2: 28px;
    --size-p: 16px;
    /* weight */
    --weight-a: 600;
    --weight-h1: 400;
    --weight-h2: 400;
    --weight-p: 500;
}

h1 {
    font-family: var(--family-Gloria);
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
}

h2 {
    font-family: var(--family-Gloria);
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
}

h3 {
    font-family: var(--family-Gloria);
}

p {
    font-size: var(--size-p);
    font-weight: var(--weight-p);
    line-height: 24px;
}

/* PAGE */
/* Header */
header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.burger-menu {
    display: none !important;
}

header img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-a);
    font-weight: var(--weight-a);
}


.active {
    color: var(--color-red);
}

.logo {
    display: flex;
    gap: 25px;
}

.logo a {
    color: var(--color-red);
}

/* footer */
footer {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

footer img {
    width: 180px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

footer nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-a);
    font-weight: var(--weight-a);
}

footer nav p {
    text-align: center;
    padding-top: 15px;
}

.active {
    color: var(--color-red);
}

.logo {
    display: flex;
    gap: 25px;
}

.logo a {
    color: var(--color-red);
}

/* main */
main {
    max-width: 1440px;
    margin: auto;
}

main h1 {
    padding: 25px 0 50px;
}

#section1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 100px;
}

.section1-container {
    max-width: 332px;
    margin: auto;
}

.section1-container img{
    width: 322px;
}

/* responsive */
@media screen and (max-width:1024px){
    header nav a {
        display: none;
    }
    
    .burger-menu {
        display: block !important;
    }
    
    footer {
        padding-top: 25px;
        gap: 0;
        justify-content: space-between;
    }
    
    footer nav a {
        display: none;
    }

    #section1 {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}


@media screen and (max-width:767px){
    header {
        flex-direction: column;
    }
    
    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .section1-container img {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
}