@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
}

:root {
    /* family */
    --family-Gloria: "Gloria Hallelujah", serif;
    --family-Noto: : "Noto Sans", serif;

    /* color */
    --color-black: #000;
    --color-red: #cc3900;
    --color-rose: #fbbbcd;
    --color-blanc:  #fff;

    /* size */
    --size-a: 16px;
    --size-h1: 45px;
    --size-h2: 28px;
    --size-p: 16px;
    /* weight */
    --weight-a: 600;
    --weight-h1: 400;
    --weight-h2: 400;
    --weight-p: 500;
}

h1 {
    font-family: var(--family-Gloria);
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
}

h2 {
    font-family: var(--family-Gloria);
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
}

h3 {
    font-family: var(--family-Gloria);
}

p {
    font-size: var(--size-p);
    font-weight: var(--weight-p);
    line-height: 24px;
}

/* PAGE */
/* Header */
header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

.burger-menu {
    display: none !important;
}

header img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-a);
    font-weight: var(--weight-a);
}


.active {
    color: var(--color-red);
}

.logo {
    display: flex;
    gap: 25px;
}

.logo a {
    color: var(--color-red);
}

/* footer */
footer {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}

footer img {
    width: 180px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

footer nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-a);
    font-weight: var(--weight-a);
}

footer nav p {
    text-align: center;
    padding-top: 15px;
}

.active {
    color: var(--color-red);
}

.logo {
    display: flex !important;
    gap: 25px;
}

.logo a {
    color: var(--color-red);
}

/* Main */
#section1 {
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
    padding-bottom: 150px;
}

#section1 img {
    width: 100%;
}

#background-img {
    background-image: url(/img/favicon.png);
    background-repeat: no-repeat;
    background-position: 60%;
}

#section1 article {
    align-content: center;
    padding-right: 175px;
}

#section1 article #hr {
    width: 50px;
    height: 1px;
    border-top: 1px solid var(--color-red);
    float: left;
    margin: 11px 5px 0  0;
}

#section1 article h2 {
    padding-bottom: 15px;
}

#section1 article p {
    padding-bottom: 35px;
}

#section1 article p:nth-child(2) {
    color: var(--color-red);
    padding: 0;
}

#section1 article a {
    padding: 5px 13px;
    color: var(--color-black);
    text-decoration: none;
    border: 1px solid var(--color-red);
}

#section1 article a:hover {
    padding: 5px 13px;
    color: var(--color-red);
    text-decoration: none;
    border: 1px solid var(--color-black);
}

/* Section2 */
#section2 {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 150px;
}

#section2-background {
    background-color: var(--color-rose);
    align-content: center;
}

#section2-article {
    padding: 50px 95px;
}

#section2-article h2 {
    padding-bottom: 45px;
}

#section2-article p {
    padding-bottom: 20px;
}


#container {
    display: grid;
    grid-template-columns: 1fr;
}

#contenaire-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;
}

#contenaire-img2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-vertical {
    width: 170px;
    height: 250px;
    padding: 0 5px;
}

.img-horizontal {
    width: 350px;
    height: 350px;
    padding: 0 5px;
}

#section2 div a {
    padding-left: 5px;
    color: black;
}

/* Section3 */
#section3 {
    max-width: 1440px;
    margin: auto;
    padding-bottom: 150px;
}

#section3-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

#section3-header a {
    padding: 5px 13px;
    color: var(--color-black);
    text-decoration: none;
    border: 1px solid var(--color-red);
}

#section3-header a:hover {
    padding: 5px 13px;
    color: var(--color-red);
    text-decoration: none;
    border: 1px solid var(--color-black);
}

#section3-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#section3-container h3 {
    text-align: center;
}

#section3-container p {
    text-align: center;
}

#section3 img {
    width: 332px;
    height: 300px;
}

/* Section4 */
#section4-background {
    background-color: #F7F7F7;
}

#section4  {
    max-width: 1440px;
    margin: auto;
    padding-bottom: 150px
}

#section4  h2{
    text-align: center;
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
    padding-top: 100px;
    padding-bottom: 70px;
}

#section4  h3{
    text-align: center;
}

#section4 img {
    width: 453px;
    height: 300px;
    padding-top: 35px;
}

.section4-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section4-artiste {
    max-width: 448px;
}

.section4-artiste p {
    padding: 30px 0;
}

.section4-bouton {
    display: flex;
    justify-content: space-between;
}

.section4-bouton > a {
    padding: 5px 13px;
    color: var(--color-black);
    text-decoration: none;
    border: 1px solid var(--color-red);
}

.section4-bouton > a:hover {
    padding: 5px 13px;
    color: var(--color-red);
    text-decoration: none;
    border: 1px solid var(--color-black);
}

.section4-logo {
    font-size: 25px;
}

/* section5 */
#section5 {
    max-width: 1440px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

#section5-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

#section5-header h2 {
    font-size: 45px;
}

#section5-header a {
    padding: 11px 25px;
    color: var(--color-black);
    text-decoration: none;
    border: 1px solid var(--color-red);
}

#section5-header a:hover {
    padding: 11px 25px;
    color: var(--color-red);
    text-decoration: none;
    border: 1px solid var(--color-black);
}

#section5 img {
    width: 463px;
    max-height: 500px;
}

#section5-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section5-sous-container {
    max-width: 663px;
}

.section5-sous-container h3 {
    font-weight: 400;
    padding: 5px 0;
}

.section5-sous-container p {
    padding: 5px 0 10px;
}


.section5-sous-container a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
}

/* section6 */
#section6 {
    background-color: var(--color-red);
    color: var(--color-blanc);
    padding: 100px 0;
    text-align: center;
}

#section6-article {
    max-width: 780px;
    margin: auto;
}

#section6-article h2 {
    padding-bottom: 50px;
}

#section6-article p {
    padding-bottom: 50px;
}

#section6-article a {
    padding: 5px 13px;
    color: var(--color-blanc);
    text-decoration: none;
    border: 1px solid var(--color-blanc);
}

#section6-article a:hover {
    padding: 5px 13px;
    background-color: var(--color-blanc);
    color: var(--color-red);
    text-decoration: none;
    border: 1px solid var(--color-red);
}

/* Responsive */
@media screen and (max-width:1024px){
    .burger-menu {
        display: block !important;
    }
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 21px;
    }

    p {
        font-size: 14px;
    }

    header ul {
        display: none;
    }

    #section1 article {
        padding: 0;
    }

    #section2 {
        grid-template-columns: 1fr;
    }

    #contenaire-img {
        padding-top: 30px;
    }

    #section3-container {
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #section3-container h3 {
        text-align: start;
    }

    #section3-container p {
        text-align: start;
    }

    .section4-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #section5-header h2 {
        font-size: 32px;
    }

    #section5-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .section5-sous-container {
        justify-items: center
    }

    #section5 img {
        padding-top: 75px;
    }

    footer ul {
        display: none;
    }
}


@media screen and (max-width:767px){
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    header {
        gap: 27px;
    }
    #section1 {
        grid-template-columns: 1fr;
    }

    #section1 img {
        padding-top: 40px;
    }

    #section2-article {
        padding: 0;
    }

    #contenaire-img {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    #contenaire-img2 {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .img-vertical {
        width: 289px;
        height: 320px;
    }

    .img-horizontal {
        width: 289px;
        height: 289px;
    }

    #section3-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    #section3 img {
        width: 282px;
        height: 282px;
    }

    #section4 img {
        width: 295px;
        height: 200px;
    }

    #section5-header h2 {
        font-size: 22px;
    }

    #section5-header a {
        padding: 11px 8px;
    }

    #section5-header a:hover {
        padding: 11px 8px;
    }

    #section5 img {
        width: 285px;
    }

    /* solution provisoire pour les logo */
    .logo {
        display: none;
    }
}